.download-excel{
    display: block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.1s linear;
    width: auto;
    margin-top: 15px;
    margin-bottom: 7px;
}
.download-excel.focus{
    box-shadow: 0 0 5px rgba(0,30,255,0.4);
}
.download-excel > button, .uploading-data select{
    cursor: pointer;
    background: #96C9FC;
    transition: background 0.2s;
    border: 1px solid rgba(0,0,0,0.1);
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #003366;
    text-shadow: #6200bd 0 -1px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 7px 7px;
}
.download-excel mark{
    background: transparent;
    padding-left: 1em;
}
.download-excel:hover > button{
    background: #7abcff;
    text-shadow: #96C9FC 0 -1px 0;
}
.download-excel:active > button{
    background: #7abcff;
    box-shadow: 0 0 3px rgba(0,0,0,0.3) inset;
}
.download-excel > div{
    padding-left: 1em
}
.download-excel input[type=file]{
    position: absolute;
    top: 0;
    visibility: hidden
}

.uploading-data{
    display: block;
    width: 50%;
    border: 1px solid #7abcff;
    box-shadow: 0 0 5px rgba(0,30,255,0.4);
    border-radius: 5px;
    padding: 10px 10px 25px;
    margin: 30px auto;
}
.uploading-data h2{
    text-align: center;
}
.uploading-data .form-provider{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 15px;
}
.excel-data-table{
    width: 60%;
    display: inline-block;
}

.excel-data-table tbody{
    width: 100%;
}
.excel-data-table tr td{
    width: 50%;
}
.uploading-data select option{
    opacity: 0.8;
    color: #003366;
    font-weight: bold;
    padding: 3px 0 3px;
}
.error_extension{
    display: none;
}
.new-provider{
    display: none;
    margin-top: 15px;
}
.error{
    display: none;
}
.form-buttons{
    width: 35%;
    display: inline-block;
    vertical-align: top;
}
.form-buttons > input{
    margin-bottom: 15px;
}